@page
@model eBookStoreClient.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role.RoleDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Publisher.PublisherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.HireDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserId">Edit</a>
</div>
