@using System.Net.Http
@using System.Net
@using eBookStoreClient.Constants
@using eBookStoreClient.Utilities
@inject HttpSessionStorage sessionStorage;
@{
    bool isAuthenticated = false;
    bool isAuthorized = false;
    int userId = -993901;
    HttpResponseMessage response = await SessionHelper.Authenticate(Context.Session, sessionStorage);
    if (response.StatusCode == HttpStatusCode.OK)
    {
        isAuthenticated = true;

        response = await SessionHelper.Current(Context.Session, sessionStorage);
        HttpContent content = response.Content;
        userId = int.Parse(await content.ReadAsStringAsync());
    }
    response = await SessionHelper.Authorize(Context.Session, sessionStorage);
    if (response.StatusCode == HttpStatusCode.OK)
    {
        isAuthorized = true;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eBookStoreClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">eBookStoreClient</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="@PageRoute.Home">Home</a>
                        </li>
                        @if (!isAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="@PageRoute.Login">Login</a>
                            </li>
                        }
                        @if (isAuthenticated && !isAuthorized)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="@PageRoute.Profile" asp-route-id="@userId">Profile</a>
                            </li>
                        }
                        @if (isAuthorized)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="@PageRoute.Books">Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="@PageRoute.Authors">Authors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="@PageRoute.Publishers">Publishers</a>
                            </li>
                        }
                        @if (isAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="@PageRoute.Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - eBookStoreClient
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
